<%= render 'layouts/navbar' %>

<div class="container" >
	<div class ="row text-align">
		<div class= "twenty-pct">
			<div class="card" style="width: 15rem;">
		  <img class="card-img-top" alt="User image	" src=<%= current_user.image %>>
			  <div class="card-body">
			    <h4 class="card-title"><%= current_user.name %></h4>
			    <p class="card-text"><%= current_user.user_name %></p>
			  </div>
		</div>
	</div>
		<div class="eighty-pct">
			<nav class="navbar navbar-light">
				<a class="nav-item">Overview</a>
				<a class="nav-item">Repositories</a>
				<a class="nav-item">Stars</a>
				<a class="nav-item">Followers</a>
				<a class="nav-item">Following</a>
			</nav>
		</div>
	</div>
</div>
